<ul>
   <% @post.categories.each do |c| %>
   <li><%= c.name %></li>
   <% end %>
 </ul>


<h1><%= @post.title %> </h1>  

<p><%= @post.content %></p>

<div id="comment">
  <h3>
    <%= @post.comments.count %>
    Comments
  </h3>
   <%= render @post.comments %> 

  <% if user_signed_in? %>
    <h3>Reply</h3>
    <%= render "comments/form" %>
  <%end%>  

</div>


<%= link_to "Edit", edit_post_path(@post) %>


<p>
<%= link_to "Back to Topics", posts_path %>
</p>